backend/api/__pycache__
backend/api/__pycache__/*
backend/api/migrations/__pycache__
backend/api/migrations/*
backend/SalesCompare/__pycache__
backend/scheduler/__pycache__
backend/__pycache__
db.sqlite3
debug.log


